{% extends "layout.html" %}

{% block title %}
    BuyIt | About
{% endblock %}

{% block main %}
    <div class="about">
        <div class="about-buyit">
            <h2>What is Buyit:</h2>
            <p>
                buyit is a project I made to present as my final project for the 
                <a href="https://www.edx.org/course/cs50s-introduction-computer-science-harvardx-cs50x">CS50</a> 
                course made bu <a href="https://www.harvard.edu/">Harvard University</a> <br>
                Wish you enjoyed it to see the code you can check it in 
                <a href="https://github.com/malikalbeik/Buyit-cs50-s-final-project">GitHub.</a> 
                you're welcome to use the code where ever you want.
            </p>
        </div>

        <div class="about-me">
            <h2>Who Am I:</h2>
            <p>
                My name is <a href="malikalbeik.com">Malik Albeik,</a> I am a CS student at Bilkent University <br>
                After the War in Syria I fled to Turkey, and that is when I Started learning Programming. <br>
                I first started in 11th Grade with <a href="Udacity.com">Udacity.com's</a> 
                <a href="https://www.udacity.com/course/intro-to-programming-nanodegree--nd000">Intro To Programming Nanodegree</a>
                then I continued with the 
                <a href="https://www.udacity.com/course/front-end-web-developer-nanodegree--nd001">Front-End Web Developer Nanodegree.</a> <br>
                and after finishing that I started Harvard University's CS550 course which one of the best courses for anyone that 
                wants to enter the CS major or wants to learn the basics of programming.
            </p>
            <ul class="social">
                <li><a href="https://www.linkedin.com/in/malikalbeik/"><i class="fab fa-linkedin"></i></a></li>
                <li><a href="https://github.com/malikalbeik"><i class="fab fa-github-square"></i></a></li>
                <li><a href="https://www.facebook.com/AlbeikMalik"><i class="fab fa-facebook-square"></i></a></li>
                <li><a href="https://www.instagram.com/malik_albeik/"><i class="fab fa-instagram"></i></a></li>
            </ul>
        </div>
    </div>

{% endblock %}