{% extends "layout.html" %}

{% block title %}
    BuyIt
{% endblock %}

{% block main %}
    <div class="current-seelings-container">
        <h2>Current Sellings:</h2>
        {% if items %}
            <ul class="{{ items_class }} elements">
                {% for item in items %}
                    <li>
                        <a href="{{ url_for('edit', item_id=item['id']) }}">
                            <img src="{{ url_for('static', filename='photos/') }}{{ item['photo'] }}" alt="{{ item['title'] }}'s photo'">
                            <h3>{{ item['title'] }}</h3>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>You currently don't have any sellings</p>
        {% endif %}
    </div>

{% endblock %}
