{% extends "layout.html" %}

{% block title %}
    BuyIt
{% endblock %}

{% block main %}
    <h2>Current Sellings:</h2>
    <div class="index">
        {% if items %}
            <ul class="{{ items_class }} elements">
                {% for item in items %}
                    <li>
                        <a href="item/edit/{{ item['id'] }}">
                            <img src="{{ url_for('static', filename='photos/') }}{{ item['photos_dir'] }}" alt="{{ item['name'] }}'s photo'">
                            <h3>{{ item['name'] }}</h3>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>You currently don't have any sellings</p>
        {% endif %}
    </div>

{% endblock %}
