{% extends "layout.html" %}

{% block title %}
    BuyIt
{% endblock %}

{% block main %}

        <ul class="categories">
            {% for category in categories %}
            <li>
                <a href="/category/{{ category }}">
                    <img src="{{ url_for('static', filename='website_photos/') }}{{ category }}.png" alt="{{ category }} category">
                    <h2>{{ category }}</h2>
                </a>
            </li>
            {% endfor %}
        </ul>

        <ul class="items">
            {% for item in items %}
                <li>
                    <a href="items/{{ item['id'] }}">
                        <img src="{{ url_for('static', filename='photos/') }}{{ item['photos_dir'] }}" alt="TO-DO">
                        <h3>{{ item['name'] }}</h3>
                    </a>
                </li>

            {% endfor %}
        </ul>

{% endblock %}
