{% extends "layout.html" %}

{% block title %}
    BuyIt: {{ item[3] }}
{% endblock %}

{% block main %}
    <div class="item-container">
        <div class="item-image-container">
            <img src="../static/photos/{{ item['photos_dir'] }}" alt="">
        </div>
        <div class="item-description-container">
            <h3>{{ item['name'] }}</h3>
            <p>Category: {{ item['category'] }}</p>
            <p>{{ item['description'] }}</p>
            <p>{{ item['time'] }}</p>
            
            
        </div>
    </div>
{% endblock %}
