{% extends "layout.html" %}

{% block title %}
    BuyIt: {{ item[3] }}
{% endblock %}

{% block main %}
    <div class="item-container">
        <div class="item-image-container">
            <img src="{{ url_for('static', filename='photos/') }}{{ item['photo'] }}" alt="{{ item['name'] }}'s photo">
        </div>
        <div class="item-description-container">
            <h3>{{ item['name'] }}</h3>
            <p>${{ item['price'] }}</p>
            <p>Category: <br>{{ item['category'] }}</p>
            <p>Description: <br>{{ item['description'] }}</p>
            <p>Location: <br>{{ item['city'] }}, {{ item['state']}}, {{ item['country'] }}</p>
            <p>Posted: <br>{{ item['pub_date']|strftime }}</p>
            <a class="buy-button" href="{{ url_for('buy', item_id= item['id'])}}">Buy</a>
        </div>
    </div>
{% endblock %}
