<!DOCTYPE html>
<html lang="en">

    <head>

        <!-- Required meta tags -->
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- documentation at http://getbootstrap.com/docs/4.0/, alternative themes at https://bootswatch.com/4-alpha/ -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" rel="stylesheet"/>

        <link href="/static/styles.css" rel="stylesheet"/>

        <title>{% block title %}{% endblock %}</title>

    </head>

    <body>

        <header>
            <nav>
                <h1 class="logo" ><a href="/">Buyit</a></h1>
                {% if session.user_id %}
                    <ul>
                        <li class="sell_button"><a class="sell_link" href="/sell">Sell Your Stuff</a></li>
                        <li class="logout_button"><a href="/logout">Logout</a></li>
                        
                    </ul>
                {% else %}
                    <ul>
                        <li class="login_button"><a href="/login">Login</a></li>
                        <li class="Register_button"><a href="/register">Register</a></li>
                    </ul>
                {% endif %}
            </nav>
        <header>

        {% block main %}{% endblock %}        
    </body>

</html>
