{% extends "layout.html" %}

{% block title %}
    BuyIt: {{ item[3] }}
{% endblock %}

{% block main %}
    <div class="item-container">
        <div class="item-image-container">
            <img src="{{ url_for('static', filename='photos/') }}{{ item['photos_dir'] }}" alt="{{ item['name'] }}'s photo">
        </div>
        <div class="item-description-container">
            <h3>{{ item['name'] }}</h3>
            <p>price bought: ${{ item['price'] }}</p>
            <p>Category: <br>{{ item['category'] }}</p>
            <p>Description: <br>{{ item['description'] }}</p>
            <p>Posted: <br>{{ item['time']|strftime }}</p>
        </div>
    </div>
{% endblock %}
