{% extends "layout.html" %}

{% block title %}
    BuyIt
{% endblock %}

{% block main %}
    <h2>Sell your stuff here</h2>
    <form action="{{ url_for('sell') }}" method="post" enctype = "multipart/form-data">
            <fieldset>
    
            <div class="form-group">
                <input autocomplete="off" autofocus class="form-control" name="title" placeholder="Title" type="text"/>
            </div>

            <div class="form-group">
                <input class="form-control" name="price" placeholder="Price" type="number"/>
            </div>

            <div class="form-group">
                <input class="form-control" name="description" placeholder="Description" type="text"/>
            </div>

            <div class="form-group">
                <input class="form-control" name="photo" placeholder="Upload photo" type="file"/>
            </div>

            <div class="form-group">
                <select name="category" >
                    <option value="category" disabled selected>category</option>
                    {% for category in categories %}
                        <option value="{{ category }}">{{ category }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="form-group">
                <button class="btn btn-default" type="submit">Post</button>
            </div>

            <!-- TODO -->
            <!-- <select name="category" id=""></select> -->

        </fieldset>
    </form>
{% endblock %}
